<launch>
  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="frame" default="sonar"/>

  <node pkg="tritech_micron" exec="scan.py" name="tritech_micron" output="screen">
    <param name="port" value="$(var port)"/>
    <param name="frame" value="$(var frame)"/>
  </node>

  <node name="tritech_micron_merge" pkg="tritech_micron" exec="tritech_micron_merge.py" output="screen">
    <param name="namespace" value="" />
    <param name="frame_id" value="sonar" />    
  </node>

  <!-- <node name="image_node" pkg="tritech_micron" exec="image_node.py" output="screen">
  </node> -->

  <node pkg="tf2_ros" exec="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 world sonar" />

</launch>
