<launch>
  <arg name="port" default="/dev/sonar" doc="serial port"/>
  <arg name="baudrate" default="115200" doc="serial baud rate"/>
  <arg name="frame" default="sonar" doc="frame ID"/>

  <node name="tritech_micron"
        pkg="tritech_micron"
        type="scan.py"
        output="screen"
        respawn="true"
        respawn_delay="5">
    <!-- Set ROS parameters -->
    <param name="port" value="$(arg port)" type="str"/>
    <param name="baudrate" value="$(arg baudrate)" type="int"/>
    <param name="frame" value="$(arg frame)" type="str"/>
  </node>
</launch>
